/* css styles */
.boxed-math {
    border: 1px solid #aaa;
    padding: 1px 4px;
    display: inline-block;
  }
.speaker{
  font-size: 2em;
}

.figure-caption, figcaption {
  display: block;
  text-align: center;
  color: #555;
}